.offer-card {
  flex: 0 0 300px;
  min-width: 300px;
  margin: 10px;
  background-color: $primary;
  color: $white-ter;

  .title {
    color: $white-ter;
  }
}

.image.is-40x40 {
  height: 40px;
  width: 40px;
}
