.offer-card {
  position: relative;
  flex: 0 0 270px;
  min-width: 270px;
  margin: 20px 15px;
  color: $primary;
  border: 1px solid $primary;

  .title {
    color: $primary;
  }
}

.image.is-40x40 {
  height: 40px;
  width: 40px;
}

.card-icon {
  color: $primary;
  position: absolute;
  height: 40px;
  top: -20px;
  right: 40px;

  .icon {
    height: 46px;
    width: 46px;
    padding: 3px;
    background-color: white;
  }
}
