.logo {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    color: #5e937c;
}

.main-navbar {
    transition: background-color .3s, box-shadow .3s;
}

.not-top {
    background-color: white!important;
    box-shadow: 1px 0 10px 0 rgba(89, 98, 115, .2);
}
.is-top {
    background-color: transparent!important;
}